@charset "UTF-8";

@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf) format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*:root {
}*/


.titulo_prin {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 50px;
    padding-bottom:  50px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: antiquewhite;
    text-align: justify;
}

main p {
    text-indent: 30px;
}

header {
    background-image: linear-gradient(to bottom, #299629, #0b2c0b);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
}


header > p {
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 2px 2px 5px black;
}

header > nav {
    padding: 8px;
    font-weight: bolder;
}

.menu {
   
    color: #71b971;

    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding: 5px;

    border-width: 1px;
    border-radius: 5px;
    transition-duration: .4s;
}

.menu:hover {
    background-color: #71b971;
    color: #0b2c0b;
    padding: 7px;
}
.corpo {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.37);
}

#titulo {
    font-family: "android";
    font-size: 25px;
    font-weight: normal;
    color: #0b2c0b;
}

.subtitulos {
    font-family: "android";
    font-weight: lighter;
    font-size: 20px;
    background-image: linear-gradient(to right, #55c255, rgba(0, 128, 0, 0));
    padding-left: 5px;
}

.imagens_principal {
    display: flex;
    justify-content: center;
    min-width: 280px;
}

#video {
    background-color: #155515;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.37);
}

iframe {
    display: flex;
    margin: auto;
}

.extra {
    background-color: #55c255;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

#titulo_ext {
    font-size: 1em;
    background-color: #2e682e;
    color: white;
    padding: 8px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list {
    display: flex;
}

.right_list{
    width: 50vw;
}

ul{
    list-style-type: none;
}

.left_list{
    width: 50vw;
}

.link_list::before {
    content: "✔ ";
}

#final {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    background-color: #155515;
    padding: 10px;
    margin-top: 15px;
}

.p_footer {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #71b971;
}

.author {
    color: white;
}

.links {
    text-decoration: none;
    font-weight: bold;
    color: #2e682e;
    transition-duration: .3s;
    border-radius: 5px;
}

.links:hover{
    text-decoration: underline;
    color: #55c255;
    background-color: #2e682e;
    padding: 3px;
    border-radius: 5px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
   }

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }

.links::after {
    content: "🔗";
}

.p_footer > a {
    text-decoration: none;
}

.author:hover {
    color: #55c255;
    text-decoration: underline;
}   